*{
    margin: 0%;
    padding: 0%;
}
.nav{
    display: flex;
    text-align: center;
    width: 100%;
}
nav{
    display: flex;
    background-color: yellow;
    padding: 20px;
}
.name{
    width:100%;
    background-color:yellow;
    display:flex;
    justify-content:center;
    padding-right: 50px;
    
}
.home{
    list-style:none;
    display:flex;
    align-items: center;
    gap: 30px;
    padding-left: 1300px;
  
}