* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /* color: white; */
  /* height:100vh; */
  font-family: "Merriweather", serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 166, 0, 0.814);
  padding: 25px 80px;
  /* background-color:rgba(204, 140, 11, 0.433); */
  backdrop-filter: blur(8px);
  /* position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000; */
}
.name-bar {
  /* width:100%;
    display:flex; */
  color: black;
  font-size: 2rem;
}
.home-bar {
  /*
    color: white;
    gap: 40px;
    padding: 0px 20px;*/
  font-size: 1.2rem;
  display: flex;
  gap: 35px;
  list-style: none;
}
.home-bar a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
.home-bar a:hover {
  color: black;
}
#home {
  /* 
    padding-top: 19vh;
    margin-left: 13vw;
    width: fit-content;
    height: fit-content;
    height: 100vh;
    */
  /* background-image: url("./images/Black\ White\ Grayscale\ Portfolio\ Presentation\ \(3\).png");
    background-size: cover; */
  /* background-position: top; */
  /* background-repeat: no-repeat; */

  min-height: 100vh;
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 100px 50px;
}
.div-left {
  flex: 1;
  /* justify-content:center; */
  margin-left: 300px;
}
.div-right {
  flex: 1;
  display: flex;
  margin-right: 250px;
  justify-content: center;
}
.image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid orange;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hi {
  font-size: 2.2rem;
  color: orange;
  font-family: "Alfa Slab One", serif;
  width: fit-content;

  /* padding-bottom: 10px;
     */
}
.name {
  font-size: 2.7rem;
  margin: 20px 0;
  font-family: "Bungee Shade", sans-serif;
  width: fit-content;
  /* padding: 10px;
    */
}
.role {
  /* font-size: 1.2rem;
    background-color: orange;
    padding: 10px 57px;
    display:inline-block;
    */
  width: fit-content;
  background: orange;
  color: black;
  padding: 10px 94.5px;
  margin-bottom: 15px;
}
.ready {
  /* font-size: 1.2rem;
    background-color: black;
    color: orange;
    padding: 10px 20px;
    margin-top: 15px; */
  /* display:inline-block; */
  width: fit-content;
  background: black;
  color: orange;
  padding: 10px 60px;
  margin-bottom: 20px;
}
.description {
  /* font-size: 1.1rem;
    padding: 10px;
    max-width: 600px;
    line-height: 1.5; */
  width: fit-content;
  max-width: 600px;
  line-height: 1.8;
  margin-bottom: 30px;
}
.buttons {
  /* display:flex;
    gap: 20px;
    margin: 0;
    */
  width: fit-content;
  display: flex;
  gap: 20px;
}
button {
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.hire-button {
  /* background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 20px; */
  background: black;
  color: white;
}
.resume-button {
  /* background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 20px; */
  background: black;
  color: white;

  /* border:2px solid orange; */
}
button:hover {
  transform: translateY(-4px);
}
#about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background: #111;
  color: white;
}
.about-left {
  max-width: 800px;
  text-align: center;
}
.about-left h2 {
  color: orange;
  font-size: 3rem;
  margin-bottom: 30px;
}
.about-left p {
  line-height: 2;
  font-size: 1.1rem;
}
#resume {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background: white;
  color: black;
}
#skills {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background: #111;
  color: white;
}
#projects {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background: white;
  color: black;
}
#contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background: #111;
  color: white;
}
