*{
    margin: 0%;
    padding: 0%;
}
.nav{
    background-image: url(portfolio_first_page.png);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    padding: 20px;  
}
.name{
    width:100%;
    display:flex; 
}
.home{
    list-style:none;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
